<div>
    <h1><a href="/">List Of Medications</a></h1>
</div>
{####### take each medication in the list #######}
{% for med in medication_list %}
    <div>
        <p> {####### print medication name #######}
            {{ med.medication_name }}
            (

                {####### check if THIS med has any side effects #######}
                {% if med.sideeffect_set.all.count > 0 %}

                    {####### take each side effect from side effect list #######}
                    {% for side_effect in med.sideeffect_set.all %}

                        {####### print side effect  #######}
                        {{ side_effect.side_effect }}

                        {####### check if we need to print comma  #######}
                        {% if not forloop.last %}
                        ,
                        {% endif %}

                {% endfor %}

                {% else %}
                    No side effects
                {% endif %}
            )
        </p>
    </div>
{% endfor %}





